.App {
  text-align: center;
}

h1 {
  font-size: 20px;
}

* {
  margin: 0%;
}

body {
  padding-bottom: 20px;
}

.App-logo {
  height: 10vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 10s linear;
  }
}

.App-header {
  min-height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

.App-link {
  color: #61dafb;
}

.inputCount{
  width: 100px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.dappContainer{
  background-color: #FF123F;
  height: 400px;
  width: 400px;
  border-radius: 25px;
  filter: drop-shadow(0 0 0.55rem #002741);
}

.mintButton{
  color: white;
  background-color: #002741;
  outline: white;
  border: white;
  border-radius: 15px;
  width: 150px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
