@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;700&family=Roboto:wght@300&display=swap');


.FAQmainContainer {
    max-width: 1200px;
    height: 100%;
    margin: auto;

}

.SecondaryContainer {
    max-width: 800px;
    margin: auto;
}

.Heading {
    font-size: 30px;
    font-family: "Fredoka One", cursive;
    padding-top: 50px;
    color: #FF322C;
}

.subHeading {
    margin-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.listing {
    max-width: 700px;
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    font-size: 20px;
}

.FAQ {
    background-color: #FEF1BE;
    padding-bottom: 100px;
}

.returnButton {
    display:flex;
    justify-content:center;
}