@font-face {
    font-family: 'navFont';
    src: url('../fonts/MyriadProBlackSemiCondensed.otf');
  }
  
  .footer {
      padding: 10px;
      background-color: #002741;
      color: #002741 ;
      overflow: hidden;
      text-align: right;
    }
    
    .footer a {
      color: #fafafa;
      font-size: 20px;
      margin-left: 10px;
      margin-right: 10px;
      text-decoration: none;
    }
  
    .Footerlogo{
        height: 6%;
        width: 5%;
        position: relative;
        right: 75%;
        bottom: 90%;
    }
  
    .footer a:hover{
        color: rgb(40, 153, 206);
    }
    
    * {
      margin: 0%;
    }
  
    .FooterIconTwitter {
      height: 20px;
      width: 30px;
    }
    .FooterIconDiscord {
      height: 15px;
      width: 25px;
    }

    .hashtag{
       color: white;
    }
  
