
    #mintingProcessButtons{
        display: none;
        margin-right: 200px;
        margin-top: 250px;
        margin-bottom: 0px;
        margin-left: 0%;
    }

    .mintingProcessContainer{
        margin-left: 60%;
    }

    #mintButton{
        display: none;
        margin-top: 10px;
        margin-left: 90px;
        height: 50px;
        width: 100px;
        font-family: "Fredoka One", cursive;
        text-align: center !important;
        position: sticky;
    }

    #mintNumber{
        margin-left: 90px;
        margin-right: 0px;
        background-color: white;
        width: 100px;
        text-align: center;
    }

    #message{
        display: none;
        text-align: center;
        width: 600px;
        font-size: 20px;
        margin-top: 10px;
        margin-left: 10px;
        margin-bottom: 40px;
        position: sticky;
        color: #FEF1BE;
    }
    
    #confetti {
        display: none;
    }
  
  
  @media screen and (min-width: 2200px) {
    .beginMintingButton{
      font-size: 70px;
      width: 190px;
      height: 70px;
      font-family: "Fredoka One", cursive;
      position: relative;
      top: 120px;
      left: 100px;
    }
  }

    @media screen and (min-width: 2000px) and (max-width: 2200px) {
        .beginMintingButton{
        font-size: 40px;
        width: 170px;
        height: 60px;;
        font-family: "Fredoka One", cursive;
        position: relative;
        top: 100px;
        left: 100px;
        }
    }

    @media screen and (min-width: 1300px) and (max-width: 2000px) {
        .beginMintingButton{
        font-size: 40px;
        width: 170px;
        height: 60px;
        font-family: "Fredoka One", cursive;
        position: relative;
        top: 180px;
        left: 100px;
        }
    
        #mintNumber{
            margin-left: 90px;
            margin-top: 110px;
            background-color: white;
            width: 100px;
            text-align: center;
        }

        #mintButton{
            display: none;
            margin-top: 10px;
            margin-left: 90px;
            height: 50px;
            width: 80px;
            font-family: "Fredoka One", cursive;
            text-align: center !important;
            position: sticky;
        }
    }

    @media screen and (min-width: 1200px) and (max-width: 1600px) {
        .beginMintingButton{
        font-size: 40px;
        width: 170px;
        height: 60px;
        font-family: "Fredoka One", cursive;
        position: relative;
        top: 180px;
        left: 100px;
        }

            
        #mintNumber{
            margin-left: 90px;
            margin-top: 120px;
            background-color: white;
            width: 80px;

            text-align: center;
        }
    }

    @media screen and (min-width: 1000px) and (max-width: 1300px) {
        .beginMintingButton{
        font-size: 40px;
        width: 150px;
        height: 40px;
        font-family: "Fredoka One", cursive;
        position: relative;
        top: 180px;
        left: 100px;
        }

        #mintNumber{
            margin-left: 90px;
            margin-top: 120px;
            background-color: white;
            width: 100px;
            text-align: center;
        }
    }

    