@font-face {
  font-family: 'navFont';
  src: url('../fonts/MyriadProBlackSemiCondensed.otf');
}

.nav {
    padding: 30px;
    background-color: #002741;
    color: white;
    overflow: hidden;
    text-align: right;
  }
  
  .nav a {
    color: #fafafa;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 10px;
    text-decoration: none;
  }

  .logo{
    height: 10%;
    width: 20%;
    position: absolute;
    right: 75%;
    bottom: 86%;
  }

  .nav a:hover{
      color: rgb(40, 153, 206);
  }
  
  * {
    margin: 0%;
  }

  .navButton {
    background-color: transparent;
    background-repeat: no-repeat;
    border: none;
    cursor: pointer;
    overflow: hidden;
    outline: none;
    color: white;
    font-size: 30px;
    margin-left: 10px;
    font-family: navFont;
  }

  .NavIconTwitter {
    height: 20px;
    width: 30px;
  }
  .NavIconDiscord {
    height: 15px;
    width: 25px;
  }

  @media screen and (max-width: 650px) {

    .logo{
      display: none;  
    }

    .nav {
        padding: 40px;
        background-color: #002741;
        color: white;
        overflow: hidden;
        text-align: center;
      }
      
      .nav a {
        color: #fafafa;
        font-size: 25px;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
      }
    
      .nav a:hover{
          color: rgb(40, 153, 206);
      }
      
      * {
        margin: 0%;
      }
    
      .navButton {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        color: white;
        font-size: 30px;
        margin-left: 10px;
      }
  }


  @media screen and (max-width: 530px) {
    .nav {
        padding: 40px;
        background-color: #002741;
        color: white;
        overflow: hidden;
        text-align: center;
      }
      
      .nav a {
        color: #fafafa;
        font-size: 15px;
        margin-left: 10px;
        margin-right: 10px;
        text-decoration: none;
      }
    
      .nav a:hover{
          color: rgb(40, 153, 206);
      }
      
      * {
        margin: 0%;
      }
    
      .navButton {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
        color: white;
        font-size: 30px;
        margin-left: 10px;
      }
  }