@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

.Omen-header {
  align-items: center;
  justify-content: center;
  background-color: #262222;
  background-image: url("../imgs/Omens.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  padding-top: 4%;
  padding-bottom: 30%;
  min-height: 20%;
  margin-left: 10%;
  padding-bottom: 30%;
  background-position-y: -10%;
}

.OmenTextContainers {
  position: sticky;
  width: 21%;
  left: 38%;
}

.OmenContainer {
  background-color: #262222;
}

.OmenSecondaryContainer {
  text-align: center;
  max-width: 1200px;
}

.OmenText {
  position: absolute;
  color: #fff1be;
  font-size: 15px;
  text-align: left;
  margin-left: 0%;
  width: 100%;
}

.OmenTitle {
  visibility: visible;
  text-align: left;
  position: relative;
  color: white;
  font-size: 25px;
  margin-bottom: 10px;
  margin-top: 0px;
  font-family: "Fredoka One", cursive;
  width: 200%;
}

.omen1 {
  list-style-image: url("../imgs/omen1.png");
}
.omen2 {
  list-style-image: url("../imgs/omen2.png");
}
.omen3 {
  list-style-image: url("../imgs/omen3.png");
}
.omen4 {
  list-style-image: url("../imgs/omen4.png");
}

@media screen and (max-width: 1920px) {
  .Omen-header {
    align-items: center;
    justify-content: center;
    background-color: #262222;
    background-image: url("../imgs/Omens.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
    padding-bottom: 30%;
    min-height: 20%;
    margin-left: 10%;
    padding-bottom: 40%;
    background-position-y: -10%;
  }
  .OmenText {
    position: absolute;
    color: #fff1be;
    font-size: 20px;
  }

  .OmenTextContainers {
    position: sticky;
    width: 25%;
  }

  .OmenTitle {
    visibility: visible;
    text-align: left;
    position: relative;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Fredoka One", cursive;
    width: 200%;
  }
}
@media screen and (max-width: 1650px) {
  .OmenText {
    position: absolute;
    color: #fff1be;
  }

  .OmenTextContainers {
    position: sticky;
    width: 22%;
    left: 27%;
  }

  .OmenTitle {
    visibility: visible;
    text-align: left;
    width: 50%;
    position: relative;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Fredoka One", cursive;
    width: 100%;
  }
}
@media screen and (max-width: 1400px) {
  .OmenText {
    position: absolute;
    color: #fff1be;
  }

  .OmenTextContainers {
    position: sticky;
    width: 22%;
    left: 27%;
  }

  .OmenTitle {
    visibility: visible;
    text-align: left;
    width: 50%;
    position: relative;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Fredoka One", cursive;
    width: 100%;
  }
}
@media screen and (max-width: 1200px) {
  .OmenText {
    position: absolute;
    color: #fff1be;
    font-size: 14px;
  }

  .OmenTextContainers {
    position: sticky;
    width: 21%;
    left: 30%;
  }

  .OmenTitle {
    visibility: visible;
    text-align: left;
    width: 50%;
    position: relative;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Fredoka One", cursive;
    width: 100%;
  }

  .Omen-header {
    align-items: center;
    justify-content: center;
    background-color: #262222;
    background-image: url("../imgs/Omens.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
    padding-bottom: 40%;
    background-position-y: -10%;
  }
}

@media screen and (max-width: 1000px) {
  .OmenText {
    position: absolute;
    color: #fff1be;
    font-size: 12px;
  }

  .OmenTextContainers {
    position: sticky;
    width: 21%;
    left: 26%;
  }

  .OmenTitle {
    visibility: visible;
    text-align: left;
    width: 50%;
    position: relative;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Fredoka One", cursive;
    width: 100%;
  }

  .Omen-header {
    align-items: center;
    justify-content: center;
    background-color: #262222;
    background-image: url("../imgs/Omens.png");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
    padding-bottom: 40%;
    background-position-y: -10%;
  }
}
@media screen and (max-width: 930px) {
  .OmenText {
    position: absolute;
    color: #fff1be;
    font-size: 15px;
    margin-left: 50%;
  }

  .OmenTextContainers {
    position: sticky;
    width: 50%;
    left: 5%;
  }

  .OmenTitle {
    visibility: visible;
    text-align: center;
    width: 50%;
    position: relative;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Fredoka One", cursive;
    width: 100%;
    margin-left: 50%;
  }

  .Omen-header {
    align-items: center;
    justify-content: center;
    background-color: #262222;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
    padding-bottom: 40%;
    background-position-y: -10%;
  }
}

@media screen and (max-width: 820px) {
  .OmenText {
    position: absolute;
    color: #fff1be;
    font-size: 15px;
    margin-left: 50%;
  }

  .OmenTextContainers {
    position: sticky;
    width: 50%;
    left: 5%;
  }

  .OmenTitle {
    visibility: visible;
    text-align: center;
    width: 50%;
    position: relative;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Fredoka One", cursive;
    width: 100%;
    margin-left: 50%;
  }

  .Omen-header {
    align-items: center;
    justify-content: center;
    background-color: #262222;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
    padding-bottom: 40%;
    background-position-y: -10%;
  }
} 

@media screen and (max-width: 750px) {
  .OmenText {
    position: absolute;
    color: #fff1be;
    font-size: 15px;
    text-align: left;
    margin-left: 10%;
    width: 90%;
  }

  .OmenTextContainers {
    position: absolute;
    width: 85%;
    margin-left: 0%;
  }

  .OmenTitle {
    visibility: visible;
    text-align: center;
    width: 50%;
    position: relative;
    margin-left: 10%;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Fredoka One", cursive;
    margin-left: 20%;
  }

  .Omen-header {
    align-items: center;
    justify-content: center;
    background-color: #262222;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
    padding-bottom: 40%;
    background-position-y: -10%;
  }
}
@media screen and (max-width: 650px) {
  .OmenText {
    position: absolute;
    color: #fff1be;
    font-size: 13px;
    text-align: left;
    margin-left: 10%;
    width: 60%;
  }

  .OmenTextContainers {
    position: absolute;
    width: 85%;
    margin-left: 10%;
  }

  .OmenTitle {
    visibility: visible;
    text-align: center;
    width: 50%;
    position: relative;
    margin-left: 10%;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Fredoka One", cursive;
  }

  .Omen-header {
    align-items: center;
    justify-content: center;
    background-color: #262222;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
    padding-bottom: 60%;
    background-position-y: -10%;
  }
}

@media screen and (max-width: 550px) {
  .OmenText {
    position: absolute;
    color: #fff1be;
    font-size: 15px;
    text-align: left;
    margin-left: 5%;
    width: 100%;
  }

  .OmenTextContainers {
    position: absolute;
    width: 90%;
    margin-left: 0%;
  }

  .OmenTitle {
    visibility: visible;
    text-align: center;
    width: 50%;
    position: relative;
    margin-left: 20%;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Fredoka One", cursive;
  }

  .Omen-header {
    align-items: center;
    justify-content: center;
    background-color: #262222;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
    padding-bottom: 80%;
    background-position-y: -10%;
  }
}

@media screen and (max-width: 450px) {
  .OmenText {
    position: absolute;
    color: #fff1be;
    font-size: 15px;
    text-align: left;
    margin-left: 5%;
    width: 100%;
  }

  .OmenTextContainers {
    position: absolute;
    width: 90%;
    margin-left: 0%;
  }

  .OmenTitle {
    visibility: visible;
    text-align: center;
    width: 50%;
    position: relative;
    margin-left: 20%;
    color: #ffffff;
    font-size: 25px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Fredoka One", cursive;
  }

  .Omen-header {
    align-items: center;
    justify-content: center;
    background-color: #262222;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
    padding-bottom: 80%;
    background-position-y: -10%;
  }
}
@media screen and (max-width: 380px) {
  .OmenText {
    position: absolute;
    color: #fff1be;
    font-size: 10px;
    text-align: left;
    margin-left: 5%;
    width: 100%;
  }

  .OmenTextContainers {
    position: absolute;
    width: 90%;
    margin-left: 0%;
  }

  .OmenTitle {
    visibility: visible;
    text-align: center;
    width: 50%;
    position: relative;
    margin-left: 20%;
    color: #ffffff;
    font-size: 20px;
    margin-bottom: 10px;
    margin-top: 0px;
    font-family: "Fredoka One", cursive;
  }

  .Omen-header {
    align-items: center;
    justify-content: center;
    background-color: #262222;
    background-image: none;
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    padding-top: 4%;
    padding-bottom: 80%;
    background-position-y: -10%;
  }
}
