@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap');

.RarityContainer{
    background-color: #FF123F ;
}

.contentContainer{
    padding-top: 20%;
    width: 20%;
    position: absolute;
    margin-left: 37%;
    color: white;
    padding-top: 2%;
    visibility: visible;
    text-align: left;
}

.Rarity-header{
    align-items: center;
    justify-content: center;
    background-color: #FF123F ;
    background-image: url('../imgs/Rarities.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50%;
    height: 40%;
    padding-bottom: 40%;
    border-color: transparent;
}

.RarityTextContainer{
    text-align: center;
    max-width: 1400px;
    margin: auto;
    
}

.RarityGuideTitle{
    font-size: 35px;
    font-family: 'Fredoka One', cursive;
    text-align: center;
    visibility: visible;
}

.RarityGuideHR{
    border-color: black;
    visibility: visible;
}

@media screen and (max-width: 1400px) {
    
    .RarityContainer{
        align-items: center;
        justify-content: center;
        background-color: #FF123F ;
        background-image: url('../imgs/Rarities2.png');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 50%;
        height: 40%;
        padding-bottom: 40%;
    }
    
    .RarityTextContainer{
        padding-top: 20%;
        width: 20%;
        position: absolute;
        margin-left: 70%;
        color: white;
        padding-top: 2%;
        visibility: hidden;
        
    }
    
    .RarityGuideTitle{
        font-size: 35px;
        font-family: 'Fredoka One', cursive;
        text-align: center;
        visibility: hidden;
    }
    
    .RarityGuideHR{
        border-color: transparent;
        visibility: visible;
    }
}

@media screen and (max-width: 1100px) {
    
    .RarityContainer{
        align-items: center;
        justify-content: center;
        background-color: #FF123F ;
        background-image: url('../imgs/Rarities2.png');
        background-size: 90%;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 50%;
        height: 40%;
        padding-bottom: 60%;
    }
    
    .RarityTextContainer{
        padding-top: 20%;
        width: 20%;
        position: absolute;
        margin-left: 70%;
        color: white;
        padding-top: 2%;
        visibility: hidden;
        
    }
    
    .RarityGuideTitle{
        font-size: 35px;
        font-family: 'Fredoka One', cursive;
        text-align: center;
        visibility: hidden;
    }
    
    .RarityGuideHR{
        border-color: transparent;
        visibility: visible;
    }
}
@media screen and (max-width: 850px) {
    
    .RarityContainer{
        align-items: center;
        justify-content: center;
        background-color: #FF123F ;
        background-image: url('../imgs/Rarities2.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 50%;
        height: 40%;
        padding-bottom: 60%;
    }
    
    .RarityTextContainer{
        padding-top: 20%;
        position: absolute;
        color: white;
        padding-top: 2%;
        visibility: hidden;
        overflow-x: hidden;
        margin: 0%;
        padding: 0%;
        font-size: 0px;
    }
    
    .RarityGuideTitle{
        font-size: 35px;
        font-family: 'Fredoka One', cursive;
        text-align: center;
        visibility: hidden;
    }
    
    .RarityGuideHR{
        border-color: transparent;
        visibility: visible;
    }
}
@media screen and (max-width: 600px) {
    
    .RarityContainer{
        align-items: center;
        justify-content: center;
        background-color: #FF123F ;
        background-image: url('../imgs/Rarities2.png');
        background-size: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-position-y: 50%;
        height: 40%;
        padding-bottom: 80%;
    }
    
    .RarityTextContainer{
        padding-top: 20%;
        position: absolute;
        color: white;
        padding-top: 2%;
        visibility: hidden;
        overflow-x: hidden;
        margin: 0%;
        padding: 0%;
        font-size: 0px;
    }
    
    .RarityGuideTitle{
        font-size: 35px;
        font-family: 'Fredoka One', cursive;
        text-align: center;
        visibility: hidden;
    }
    
    .RarityGuideHR{
        border-color: transparent;
        visibility: visible;
    }
}