.RarityContainer{
    align-items: center;
    justify-content: center;
    background-color: #FF123F ;
    background-image: url('../imgs/Rarities.png');
    background-size: 90%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50%;
    height: 40%;
    padding-bottom: 40%;
}

.RarityTextContainer{
    padding-top: 20%;
    width: 20%;
    position: absolute;
    margin-left: 70%;
    color: white;
    padding-top: 2%;
    
}

.RarityGuideTitle{
    font-size: 35px;
    font-family: ccbiffbamboom, sans-serif;
    text-align: center;
}

.RarityGuideHR{
    border-color: black;
}