.RuneContainer{
    align-items: center;
    justify-content: center;
    background-color: #80D1EC;
    background-image: url('../imgs/GoldenRunes.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 100%;
    padding-top: 4%;
    padding-bottom: 30%;
}

.RuneText{
    width: 20%;
    position: absolute;
    margin-left: 46%;
    color: white;
}

