.slide-container{
    height: 1000px;
    width: 1200px;
  }

  .slides{
    height: 500px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    scale: 20%
  }

  .each-slide{
    background-color: #FF322C;
  }