.TeamContainer {
  text-align: center;
  max-width: 1350px;
  margin: auto;
}

.Team-header {
  align-items: center;
  justify-content: center;
  background-color: #ff123f;
  background-image: url("../imgs/teambackground.png");
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 50%;
  padding-top: 5%;
  padding-bottom: 10%;
  text-align: center;
}

.teamMainContainer {
  background-color: #ff123f;
}

.TeamTitle {
  text-align: center;
  position: relative;
  color: white;
  font-size: 65px;
  font-family: "Fredoka One", cursive;
}

.TeamHR {
  margin: auto;
  width: 20%;
  border-color: black;
}

.TeamText {
  text-align: center;
  width: 20%;
  position: relative;
  margin-left: 40%;
  padding-top: 20px;
  padding-bottom: 10%;
  color: white;
  font-size: 20px;
}

@media screen and (min-width: 801px) and (max-width: 1320px) {
  .Team-header {
    align-items: center;
    justify-content: center;
    background-color: #ff123f;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50%;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
  }

  .TeamTitle {
    text-align: center;
    position: relative;
    color: white;
  }

  .TeamHR {
    margin: auto;
    width: 30%;
    border-color: black;
  }

  .TeamText {
    text-align: center;
    width: 40%;
    position: relative;
    margin-left: 30%;
    padding-top: 20px;
    padding-bottom: 10%;
    color: white;
  }
}
@media screen and (max-width: 800px) {
  .Team-header {
    align-items: center;
    justify-content: center;
    background-color: #ff123f;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50%;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
  }

  .TeamTitle {
    text-align: center;
    position: relative;
    color: white;
  }

  .TeamHR {
    margin: auto;
    width: 30%;
    border-color: black;
  }

  .TeamText {
    text-align: center;
    width: 40%;
    position: relative;
    margin-left: 30%;
    padding-top: 20px;
    padding-bottom: 10%;
    color: white;
  }
}

@media screen and (max-width: 600px) {
  .Team-header {
    align-items: center;
    justify-content: center;
    background-color: #ff123f;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50%;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
  }
}
@media screen and (max-width: 450px) {
  .Team-header {
    align-items: center;
    justify-content: center;
    background-color: #ff123f;
    background-image: none;
    background-repeat: no-repeat;
    background-position: center;
    background-position-y: 50%;
    padding-top: 5%;
    padding-bottom: 10%;
    text-align: center;
  }

  .TeamText {
    text-align: center;
    width: 90%;
    position: relative;
    padding-top: 20px;
    padding-bottom: 10%;
    color: white;
    margin-left: 5%;
  }
}
