.TeamContainer{
  align-items: center;
  justify-content: center;
  background-color: #FF123F ;
  background-image: url('../imgs/teambackground.png');
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: center;
  background-position-y: 50%;
  padding-top: 10%;
}

.TeamTitle{
  text-align: center;
  position: relative;
  color: white;
}

.TeamHR{
  margin: auto;
  width: 20%;
  border-color: black;
}

.TeamText{
  text-align: center;
  width: 20%;
  position: relative;
  margin-left: 40%;
  padding-top: 20px;
  padding-bottom: 10%;
  color: white;
}